@model WeatherConditionViewModel;
@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Sams Weather Checker</h1>
    <partial name="~/Views/Shared/_WeatherSearchPartial.cshtml" />   
</div>